Flask==1.1.2
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
flask-ngrok==0.0.25
idna==2.10
itsdangerous==1.1.0
joblib==0.16.0
numpy==1.19.1
pandas==1.1.0
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
urllib3==1.25.10
gunicorn==19.7.1